In [7]:
name = 'nilesh'
a,b,c,d,e,f = name
print(a)

n

In [17]:
fruits = ['banana', 'orange','grapes','lichi','mango', 'lemon']
nilesh,lalit,*suraj,swapnil= fruits 
print(nilesh)
print(suraj)
print(swapnil)
print(fruits[0:2])
print(fruits[0:6:3])

banana
['grapes', 'lichi', 'mango']
lemon
['banana', 'orange']
['banana', 'lichi']

In [18]:
fruits[0] = 'nilesh'
print(fruits)

['nilesh', 'orange', 'grapes', 'lichi', 'mango', 'lemon']

In [20]:
nilesh = fruits.copy()
print(nilesh)

['nilesh', 'orange', 'grapes', 'lichi', 'mango', 'lemon']

In [21]:
nilesh = fruits+vegetables
print(nilesh)

['nilesh', 'orange', 'grapes', 'lichi', 'mango', 'lemon', 'Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']

In [ ]:
# Declare an empty list
lalit = []
suraj = list()

In [2]:
suraj = []
praful= list()

In [5]:
suraj.append('pen')
suraj.append('pencil')
suraj.append('book')
suraj.append('notebook')

In [6]:
print(suraj)

['pen', 'pen', 'pencil', 'book', 'notebook']

In [7]:
print(len(suraj))

5

In [13]:
string = "Coding for All"
# print(string.index("C"))
print(string[11])

A

In [20]:
string1 = 'You cannot end a sentence with because because because is a conjunction'
print(len(string1))
print(string1.find('b'))
print(string1.rfind('se'))
print(string1[31:54])

71
31
52
because because because

In [29]:
string2 = "Coding for All 30"
print(string2.startswith("Co"))
print(string2.endswith("Dino James"))
print(string2.isalnum())
print(string2.isalpha())
print(string2.isnumeric())

True
False
False
False
False

In [33]:
sample_string = " Lalit string  "
extra_space_less = sample_string.strip()
print(len(sample_string))
print(len(extra_space_less))

15
12

In [36]:
print("name \n LAlit")
print(" Age \n 29")
print("height \n 5.10")
print(" country \n")

name
 LAlit
 Age
 29
height
 5.10
 country

In [37]:
radius = int(input("Enter Radius here"))
pi = 3.14
area = 3.14 * radius  ** 2
print("The radius of the circle is {} and its area is {}".format(radius,area))

The radius of the circle is 10 and its area is 314.0

In [38]:
string3 = "Music is the best way to \n express FEELINGS...."
print(string3)

Music is the best way to
 express FEELINGS....

In [39]:
it_companies = ['IBM','Apple','Facebook','Google']
print(it_companies)

['IBM', 'Apple', 'Facebook', 'Google']

In [43]:
# it_companies.append("Netflix")
print(it_companies)
print(len(it_companies))
insert = it_companies.insert(3,"Amazon")
print(insert)

['IBM', 'Apple', 'Facebook', 'Amazon', 'Google', 'Netflix', 'Netflix', 'Netflix']
8
None

In [44]:
string = str(it_companies).upper()
print(string)

['IBM', 'APPLE', 'FACEBOOK', 'AMAZON', 'AMAZON', 'GOOGLE', 'NETFLIX', 'NETFLIX', 'NETFLIX']

In [45]:
print(" ".join(string))

[ ' I B M ' ,   ' A P P L E ' ,   ' F A C E B O O K ' ,   ' A M A Z O N ' ,   ' A M A Z O N ' ,   ' G O O G L E ' ,   ' N E T F L I X ' ,   ' N E T F L I X ' ,   ' N E T F L I X ' ]

In [46]:
print("IBM" in it_companies)

True

In [48]:
print(it_companies.sort())
print(it_companies)

None
['Amazon', 'Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Netflix', 'Netflix', 'Netflix']

In [49]:
it_companies.reverse()
print(it_companies)

['Netflix', 'Netflix', 'Netflix', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon', 'Amazon']

In [50]:
it_companies[0:4]

['Netflix', 'Netflix', 'Netflix', 'IBM']

In [53]:
it_companies[-1:-4:-1]

['Amazon', 'Amazon', 'Apple']

In [55]:
print(len(it_companies))
it_companies[5]

9

'Facebook'

In [56]:
it_companies[0]

'Netflix'

In [57]:
it_companies.remove('Netflix')

In [58]:
print(it_companies)

['Netflix', 'Netflix', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon', 'Amazon']

In [60]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

In [63]:
print(len(countries))
print(193/2)

193
96.5

In [64]:
first_half = countries[:97]
seconf_half = countries[97:]

In [66]:
print("First half of the list ==>",first_half)
print("Second Half of the list ==>",seconf_half)

First half of the list ==> ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
Second Half of the list ==> ['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [1]:
print(suraj)

NameError: name 'suraj' is not defined

In [4]:
suraj = []
suraj.append('pen')
suraj.append('pencil')
suraj.append('book')
suraj.append('notebook')
suraj.append('bag')
print(suraj)

['pen', 'pencil', 'book', 'notebook', 'bag']

In [5]:
print(len(suraj))

5

In [7]:
print('the first item of suraj list is {}.  The middle item of suraj list is {} and the last item of list is {}'.format(suraj[0],suraj[2],suraj[4]))

the first item of suraj list is pen.  The middle item of suraj list is book and the last item of list is bag

In [8]:
# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_type = ['suraj',29,175,'unmarried','Adarsh Nehru Nagar,Amravati']
print(mixed_data_type)

['suraj', 29, 175, 'unmarried', 'Adarsh Nehru Nagar,Amravati']

In [9]:
# Declare a list variable named it_companies and assign initial values
# Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['Facebook','Google','Apple','IBM','Oracle','Amazon']
print(it_companies)

['Facebook', 'Google', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [10]:
# Print the number of companies in the list
print('The total number of IT companies in list is ',len(it_companies))

The total number of IT companies in list is  6

In [11]:
# Print the list after modifying one of the companies
it_companies[4] = 'Microsoft'
print(it_companies)

['Facebook', 'Google', 'Apple', 'IBM', 'Microsoft', 'Amazon']

In [12]:
# Add an IT company to it_companies
it_companies.append('Oracle')
print(it_companies)

['Facebook', 'Google', 'Apple', 'IBM', 'Microsoft', 'Amazon', 'Oracle']

In [18]:
# Insert an IT company in the middle of the companies list
it_companies.insert(3,'Wipro')
print(it_companies)

['Facebook', 'Google', 'Apple', 'Wipro', 'Wipro', 'Wipro', 'Wipro', 'Wipro', 'Wipro', 'IBM', 'Microsoft', 'Amazon', 'Oracle']

In [19]:
print(it_companies)

['Facebook', 'Google', 'Apple', 'Wipro', 'Wipro', 'Wipro', 'Wipro', 'Wipro', 'Wipro', 'IBM', 'Microsoft', 'Amazon', 'Oracle']

In [21]:
it_companies.remove('Wipro')
print(it_companies)

['Facebook', 'Google', 'Apple', 'Wipro', 'Wipro', 'Wipro', 'Wipro', 'Wipro', 'IBM', 'Microsoft', 'Amazon', 'Oracle']

In [22]:
it_companies.pop(3)
print(it_companies)

['Facebook', 'Google', 'Apple', 'Wipro', 'Wipro', 'Wipro', 'Wipro', 'IBM', 'Microsoft', 'Amazon', 'Oracle']

In [27]:
print(it_companies)

['Facebook', 'Google', 'Apple', 'Amazon', 'Oracle']

In [31]:
# Change one of the it_companies names to uppercase (IBM excluded!)
for i in range(len(it_companies)):
    it_companies[i] = it_companies[i].upper()
print(it_companies)

['FACEBOOK', 'GOOGLE', 'APPLE', 'AMAZON', 'ORACLE']

In [34]:
# Join the it_companies with a string '#;  '
print('#'.join(it_companies))

FACEBOOK#GOOGLE#APPLE#AMAZON#ORACLE

In [35]:
'FACEBOOK' in it_companies

True

In [39]:
# Sort the list using sort() method
it_companies.sort()
print(it_companies)
it_companies.sort(reverse = True)
print(it_companies)

['AMAZON', 'APPLE', 'FACEBOOK', 'GOOGLE', 'ORACLE']
['ORACLE', 'GOOGLE', 'FACEBOOK', 'APPLE', 'AMAZON']

In [40]:
# Reverse the list in descending order using reverse() method
it_companies.reverse()
print(it_companies)

['AMAZON', 'APPLE', 'FACEBOOK', 'GOOGLE', 'ORACLE']

In [44]:
# Slice out the first 3 companies from the list
print(it_companies[0:3])

['AMAZON', 'APPLE', 'FACEBOOK']

In [47]:
# Slice out the last 3 companies from the list
print(it_companies[2:6])

['FACEBOOK', 'GOOGLE', 'ORACLE']

In [48]:
# Remove the first IT company from the list
it_companies.remove('FACEBOOK')
print(it_companies)

['AMAZON', 'APPLE', 'GOOGLE', 'ORACLE']

In [50]:
# Remove the middle IT company or companies from the list
it_companies.pop(len(it_companies)//2)
print(it_companies)

['AMAZON', 'APPLE', 'ORACLE']

In [51]:
# Remove all IT companies from the list
it_companies.clear()
print(it_companies)

[]

In [53]:
del(it_companies)
print(it_companies)

NameError: name 'it_companies' is not defined

In [2]:
# Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
program = front_end + back_end
print(program)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [5]:
front_end.extend(back_end)
print(front_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB', 'Node', 'Express', 'MongoDB']

In [6]:
# After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack.
# Then insert Python and SQL after Redux.
full_stack = front_end.copy()
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB', 'Node', 'Express', 'MongoDB']

In [17]:
full_stack.index('Redux')
full_stack.insert(5,"Python")

print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'Node', 'Express', 'MongoDB', 'Node', 'Express', 'MongoDB']

In [16]:
full_stack.remove('Python')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB', 'Node', 'Express', 'MongoDB']

In [18]:
full_stack.insert(6,'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB', 'Node', 'Express', 'MongoDB']

In [21]:
# The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print("The sorted lis is ",ages)
print('The Maximum age from list is ',max(ages))
print('The Minimun age from list is ',min(ages))

The sorted lis is  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The Maximum age from list is  26
The Minimun age from list is  19

In [22]:
min_age = min(ages)
max_age = max(ages)
ages.append(min_age)
ages.append(max_age)
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [23]:
ages.sort()
print(ages)

[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

In [30]:
# Find the median age (one middle item or two middle items divided by two)
print(len(ages))
print('The middle age number is ',set(ages[5:7]))

12
The middle age number is  {24}

In [35]:
# Find the average age (sum of all items divided by their number )
print("The average age from the list is ",(sum(set(ages))//len(set(ages))))

The average age from the list is  22

In [37]:
# Find the range of the ages (max minus min)
print('The range of ages is ',max_age-min_age)

The range of ages is  7

In [43]:
# Compare the value of (min - average) and (max - average), use abs() method
print(abs(min_age-22))
print(abs(max_age-22))

3
4

In [45]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [47]:
# Find the middle country(ies) in the countries list
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]
print(len(countries))
middle_number = len(countries)//2
print(middle_number)

193
96

In [56]:
middle_country = countries[middle_number+2]
print(middle_country)

Libya

In [54]:
l = [1,2,3,4,5,6,7]
len(l)//2
print(l[3])

4

In [57]:
print('the total number of countries are ',len(countries))

the total number of countries are  193

In [61]:
# Divide the countries list into two equal lists if it is even if not one more country for the first half.
first_half = []
second_half = list()
print('the total number of countries are ',len(countries))
middle_number = ((len(countries))//2)
for i in range(len(countries)):
    if i<=(middle_number):
        first_half.append(countries[i])
    else:
        second_half.append(countries[i])
print('The fist half of the total countries are ',first_half)
print('The total countries in first half is ',len(first_half))
print('------------------------------xxx-----------------------------------')
print('The fist half of the total countries are ',second_half)
print('The total countries in first half is ',len(second_half))

the total number of countries are  193
The fist half of the total countries are  ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
The total countries in first half is  97
------------------------------xxx-----------------------------------
The fist half of the total countries are  ['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
The total countries in first half is  96

In [65]:
videsh = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
# Unpack the first three countries and the rest as scandic countries.
a,b,c,*rest=videsh
print(a)
print(b)
print(c)
print(*rest)

China
Russia
USA
Finland Sweden Norway Denmark