In [2]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

In [3]:
# Find the length of the set it_companies
print(len(it_companies))

7

In [4]:
# Add 'Twitter' to it_companies
it_companies.add('Twitter')
print(it_companies)

{'Facebook', 'IBM', 'Amazon', 'Apple', 'Twitter', 'Oracle', 'Google', 'Microsoft'}

In [7]:
# Insert multiple IT companies at once to the set it_companies
other_companies = {"Mindtree",'TCS','Infotech','Wipro'}
it_companies.update(other_companies)
print(it_companies)

{'IBM', 'Twitter', 'Mindtree', 'TCS', 'Facebook', 'Amazon', 'Infotech', 'Apple', 'Wipro', 'Oracle', 'Google', 'Microsoft'}

In [12]:
# Remove one of the companies from the set it_companies

print(it_companies)
print(len(it_companies))

{'Twitter', 'Mindtree', 'Facebook', 'Amazon', 'Infotech', 'Apple', 'Wipro', 'Oracle', 'Google', 'Microsoft'}
10

In [13]:
removed_item = it_companies.pop()
print(it_companies)
print(len(it_companies))
print(removed_item)

{'Mindtree', 'Facebook', 'Amazon', 'Infotech', 'Apple', 'Wipro', 'Oracle', 'Google', 'Microsoft'}
9
Twitter

In [14]:
Item = it_companies.discard('Mindtree')
print(it_companies)
print(len(it_companies))
print(Item)

{'Facebook', 'Amazon', 'Infotech', 'Apple', 'Wipro', 'Oracle', 'Google', 'Microsoft'}
8
None

In [16]:
Item2 = it_companies.remove('Amazon')
print(it_companies)
print(len(it_companies))
print(Item2)

{'Facebook', 'Infotech', 'Apple', 'Wipro', 'Oracle', 'Google', 'Microsoft'}
7
None

In [17]:
Item3 = it_companies.pop()
print(it_companies)
print(len(it_companies))
print(Item3)

{'Infotech', 'Apple', 'Wipro', 'Oracle', 'Google', 'Microsoft'}
6
Facebook

In [22]:
# Join A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print('The A uniun B is ',A.union(B))
print('The set A is' ,A)
print('The set B is ',B)

The A uniun B is  {19, 20, 22, 24, 25, 26, 27, 28}
The set A is {19, 20, 22, 24, 25, 26}
The set B is  {19, 20, 22, 24, 25, 26, 27, 28}

In [23]:
# Find A intersection B
print('The set of A intersection B ',B.intersection(A))
print('The set A is' ,A)
print('The set B is ',B)

The set of A intersection B  {19, 20, 22, 24, 25, 26}
The set A is {19, 20, 22, 24, 25, 26}
The set B is  {19, 20, 22, 24, 25, 26, 27, 28}

In [26]:
print('Does A is subset of B ',A.issubset(B))
print('Does B is subset of A ',B.issubset(A))

Does A is subset of B  True
Does B is subset of A  False

In [27]:
print('Does A is superset of B ',A.issuperset(B))
print('Does B is superset of A ',B.issuperset(A))

Does A is superset of B  False
Does B is superset of A  True

In [29]:
# Are A and B disjoint sets
print('Does A and B are disjoin ',A.isdisjoint(B))

Does A and B are disjoin  False

In [30]:
# Join A with B and B with A
print(A.union(B))
print(B.union(A))

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [31]:
# What is the symmetric difference between A and B
print(A.symmetric_difference(B))

{27, 28}

In [32]:
del A
print(A)

NameError: name 'A' is not defined

In [35]:
# Convert the ages to a set and compare the
# length of the list and the set, which one is bigger?
age = [22, 19, 24, 25, 26, 24, 25, 24]
set_of_age = set(age)
print(age,'The length of age is ',len(age))
print(set_of_age," The length of set_of_age is ",len(set_of_age))

[22, 19, 24, 25, 26, 24, 25, 24] The length of age is  8
{19, 22, 24, 25, 26}  The length of set_of_age is  5

In [ ]:
# Explain the difference between the following data types: string, list, tuple and set

In [39]:
# I am a teacher and I love to inspire and teach people. 
# How many unique words have been used in the sentence? 
# Use the split methods and set to get the unique words.
sentence = 'I am a teacher and I love to inspire and teach people.'
set_of_words = set(sentence.split(' '))
print(set_of_words)
print('The sentence contains {} words'.format(len(set_of_words)))

{'people.', 'am', 'teacher', 'love', 'inspire', 'to', 'teach', 'I', 'and', 'a'}
The sentence contains 10 words